@using MusicInstructor.Web.Models
@model RegistrationModel

@{
    ViewBag.Title = "Index";
}

<h2>Registration</h2>
    <div>
        <form action="/Registration/Register" method="POST">
            <div class="editor-field">@Html.TextBoxFor(x => x.UserName)</div>
            <div class="editor-field">@Html.TextBoxFor(x => x.Password)</div>
            @Html.HiddenFor(x => x.Id)
            <input type="submit" value="Submit" />
        </form>
    </div>
